@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* https://coolors.co/561d25-f0f0f0-d6d6d6-1f1f1f */
    --white: #f0f0f0;
    --black: #1F1F1F;
    --gray: #D6D6D6;
    --red: #291711;
    --bright-red: #E94957;
}

a {
    color: var(--red);
}

body {
    margin: 2em 18%;
    background-color: var(--white);
    color: var(--black);
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.225rem;
    line-height: 1.5;
    box-sizing: border-box;
}

.post-date:after {
    content: '•';
    padding-left: 0.5em;
}

@media (max-width: 768px) {
    body {
        margin: 1.5em 5%;
        font-size: 1.05rem;
        line-height: 1.55;
    }
}

@media (max-width: 480px) {
    body {
        margin: 1em 4%;
        font-size: 1rem;
        line-height: 1.5;
    }
}

.post-list {
    display: flex;
    flex-wrap: wrap;

}

.post-list-item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0.5em;
    text-decoration: none;
    color: inherit;
    align-items: baseline;
    transition: background-color 0.2s ease;
    padding: 0.35em 0.5em;
    overflow: hidden;

    &:hover {
        background-color: var(--gray);
    }

    .post-tag-list {
        max-width: 25%;
    }
}

.post-title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-tag-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2em;
}

.post-tag {
    border-radius: 2.5px;
    font-size: 0.85em;
    padding: 0.075em 0.35em;
    background-color: var(--red);
    color: whitesmoke;

}

.post {
    .title {
        font-size: 2em;
        margin: 0.5em 0;
    }

    .meta {
        display: flex;
        width: 100%;
        gap: 1em;
        align-items: baseline;
        justify-content: space-between;
    }

    .content {
        margin-top: 1em;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 1em auto;
        }
    }

}

/* post image modal */
#imgModal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#imgModal img {
    max-width: 95%;
    max-height: 95%;
}

#imgModal.show {
    display: flex;
}

.site-footer {
    text-align: center;
    font-size: 0.85rem;
    color: var(--black);
    padding: 1em 0;
    border-top: 1px solid var(--black);
    margin-top: 3em;
}
